# ETL Project
## NYC Water Tank Inspections by Demographics

Sources

1) Rooftop Drinking Water Tank Inspection Results
https://data.cityofnewyork.us/Health/Rooftop-Drinking-Water-Tank-Inspection-Results/gjm4-k24g

2) Zip code demographic statistics
https://data.cityofnewyork.us/City-Government/Zip-code-breakdowns/6bic-qvek

Link by zip code!

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#link to csvs and read with pandas

In [3]:
# Create a filtered dataframe from specific columns

In [4]:
# Rename the column headers

In [5]:
# Clean the data by dropping duplicates and setting the index

In [6]:
# Create database connection
connection_string = "postgres:postgres@localhost:5432/etl-project_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

['zip_demographics']

In [8]:
#Load DataFrames into database